.cv{

    &__experience{

        &--container{
            display: flex;
            gap: 2em;
        }

        &-aside{
            flex: 0 0 31.5em;
        }

        &-main{

        }

        &-technical-skills{
            padding: 3.2em;
            background-color: rgb(245 243 243);
            border: solid 1px rgb(196 199 199);

            &-title{
                color: var(--color-black);
                font-size: 1.6em;
                margin-bottom: 1.6em;
            }

            &-skill-title{
                font-size: 1.6em;
                color: rgb(68 71 72 / var(--tw-text-opacity, 1));
                margin-bottom: 0.8em;
            }


            &-container{
                display: flex;
                gap: 1em;
                flex-wrap: wrap;
                margin-bottom: 2em;
            }
        }

        &-title{
            font-size: 1.6em;
            color: var(--color-black);
            padding-bottom: 0.5em;
            border-bottom: solid 1px rgb(196 199 199);
            margin-bottom: 1.6em;
            font-family: EB Garamond;
        }

        &-education{

            margin-top: 6em;

            &-container{
                margin-bottom: 3em;
            }
            &-grade{
                color: var(--color-black);
                font-size: 1.6em;
                &-container{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    span{
                        font-size: 1.2em;
                        color: rgb(68 71 72);
                        line-height: 1.0;
                        letter-spacing: 0.1em;
                        font-weight: 700;
                    }
                }
            }

            &-specialty{
                font-size: 1.2em;
                margin-top: 0.5em;
            }

            
        }
                    
    }
}