@font-face {
  font-family: 'EB Garamond';
  font-weight: 400;
  font-style: normal;
  src: url('EBGaramond-Regular.woff2') format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 400;
  font-style: italic;
  src: url('EBGaramond-Italic.woff2') format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 500;
  font-style: normal;
  src: url('EBGaramond-Medium.woff2') format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 500;
  font-style: italic;
  src: url('EBGaramond-MediumItalic.woff2') format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 600;
  font-style: normal;
  src: url('EBGaramond-SemiBold.woff2') format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 600;
  font-style: italic;
  src: url('EBGaramond-SemiBoldItalic.woff2') format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 700;
  font-style: normal;
  src: url('EBGaramond-Bold.woff2') format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 700;
  font-style: italic;
  src: url('EBGaramond-BoldItalic.woff2') format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 800;
  font-style: normal;
  src: url('EBGaramond-ExtraBold.woff2') format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-weight: 800;
  font-style: italic;
  src: url('EBGaramond-ExtraBoldItalic.woff2') format('truetype');
}
