.tag{
    color: var(--color-neutral);
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-weight: 700;
    padding: 0.3em 0.8em;
    border: solid 1px var(--color-neutral);
    border-radius: 100px;
    font-family: 'Hanken-Grotesk';

}